@import 'jeet'

normalize-css()

#exercise-form
  +mobile()
    padding: 5%;

  label
    +mobile()
      label: block

.exercise__title, .exercise__weight, .exercise__repetitions
  input()

  +mobile()
    width: 95%

label[for=exercise__weight]
  +mobile()
    margin-top: 1rem

.exercise__title-error, .exercise__weight-error, .exercise__repetitions-error
  input-error()

.approach__start, .approach__before-end, .approach__end
  button: #ff3842 'large' #fff

  +mobile()
    width: 100%

.approach__start, .approach__end
  +mobile()
    margin-top: 1rem

.exercise__autocomplete
  position: absolute
  list-style: none
  box-shadow: 1px 0 10px rgba(0, 0, 0, .1)

  +mobile()
    top: 10.9%
    width: 90%
    padding: 0

  li
    background-color: #fff

    +mobile()
      display: block
      width: 95%
      padding: 1% 0
      margin: 0

path
  fill: none
  stroke: red
  stroke-width: 10
